@model Caja.Models.Conexion
@{
    ViewBag.Title = "ValidaConexion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    String mensaje;
    Boolean estado;
}
<h4>Mensaje: @Model.Mensaje</h4>
<h4>Estado: @Model.Estado</h4>
<h4>Url: @Model.Url</h4>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

